.edge-design .avatar {
    border-radius: 5px !important;
}

.avatar {
    border-radius: 5px !important;
}

.ProfileAvatar {
    border-radius: 12px !important;
}

.ProfileAvatar-image{
    border-radius: 8px !important;
}

.DashboardProfileCard-avatarImage {
    border-radius: 7px !important;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
